<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yf.ihook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcom">
            <intent-filter>
                <!--成为Home 主屏-->
                <!--<category android:name="android.intent.category.HOME"></category>
                <category android:name="android.intent.category.DEFAULT"></category>-->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.ReginActivity"></activity>
        <activity android:name=".activity.Main"></activity>

        <!--分享朋友圈  辅助功能-->
        <service android:name=".service.WeChatShare"
                 android:label="分享朋友圈"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_install_config">
            </meta-data>
        </service>

        <receiver android:name=".receiver.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"></action>
            </intent-filter>

        </receiver>

    </application>

</manifest>